$backgroundColor: #f8f9fa;
$cardColor: rgb(254, 223, 234);
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.movie-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50 0;
  margin-left: 5px;
  margin-top: 80px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  //box-shadow: 10px 5px 5px $boxShadowColor;
  background-color: $cardColor;
  max-width: 280px;
  width: 280px;
  margin: 15px;
  padding: 20px 30px;
}

.mat-card:hover {
  transform: scale(1.050)
}

.mat-icon-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.hero-img {
  position: fixed;
  top: 0;
  background: url('../../assets/cinema.jpg');
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.button-selections {
  margin-right: 20px;
  font-size: 1em;
  background: rgb(254, 0, 91);
  color: rgb(253, 221, 233);
}

.button-selections:hover {
  background: rgb(253, 221, 233);
  color: rgb(254, 0, 91);
}

img {
  padding-bottom: 5px;
}