<!-- src/app/movie-card/movie-card.component.html -->
<app-navbar></app-navbar>
<div class="hero-img"></div>
<div class="movie-view" style="display: flex;">
	<mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
		<mat-card-header>
			<mat-card-title>{{movie.Title}}</mat-card-title>
			<mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
		</mat-card-header>
		<img src={{movie.ImagePath}} alt={{movie.Title}} style="width: 280px" />
		<mat-card-actions>
			<button style="margin: 0px 8px" class="button-selections" mat-button
				(click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
				Genre
			</button>
			<button class="button-selections" mat-button
				(click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)">
				Director
			</button>
			<button class="button-selections" mat-button (click)="openSynopsisDialog(movie.Title, movie.Description)">
				Synopsis
			</button>
			<button matTooltip="Favorite movie" matTooltipPosition="above" mat-icon-button
				(click)="onToggleFavoriteMovie(movie._id)">
				<mat-icon color="warn">
					<span *ngIf="isFav(movie._id); else elseBlock">star</span>
					<ng-template #elseBlock>favorite_border</ng-template>
				</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>